<?xml version="1.0" encoding="utf-8"?>
<!--
	Copyright 2022-2024 Pranav Pandey

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	   http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Query packages on API 30 and above. -->
    <queries>
        <package android:name="com.pranavpandey.rotation" />
        <package android:name="com.pranavpandey.rotation.key" />
        <package android:name="com.pranavpandey.calendar" />
        <package android:name="com.pranavpandey.calendar.key" />
        <package android:name="com.pranavpandey.theme" />
        <package android:name="com.pranavpandey.theme.key" />
    </queries>

    <!-- Query intents on API 30 and above. -->
    <queries>
        <intent>
            <action android:name="com.pranavpandey.android.dynamic.key.intent.action.ACTIVATE" />
        </intent>
        <intent>
            <action android:name="com.pranavpandey.android.dynamic.key.intent.action.ROTATION" />
        </intent>
        <intent>
            <action android:name="com.pranavpandey.android.dynamic.key.intent.action.CALENDAR" />
        </intent>
        <intent>
            <action android:name="com.pranavpandey.android.dynamic.key.intent.action.THEME" />
        </intent>
    </queries>

</manifest>
